body{  
    background-image: url(game.jpg);


}
.parent{
   position: relative;
   width: 100%;
   height: 10%;
   padding-left:30px;
  
}
nav{
    display: flex;
    width: 95%;
    padding: 30px 0;
    align-items: center;
    justify-content: space-between;

}
nav ul li{
    display: inline-flex;
    margin: 20px 20px;
}
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size:25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul li a:hover{
    color: rgb(111, 171, 66);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100px;
    border-radius: 50px;
}
 h1{
    color: #4dff00;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
 }

 p{
    color: #fffaf0;
    font-weight: 600;
    font-size: 20px;
    padding-left: 30%;
    padding-right: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
 }
footer{
    padding-top: 15%;
    text-align: center;
    color: white;
}
.icons a{
    color: rgb(255, 255, 255);
}

.icons a:hover{
    background: black;
    color: rgb(35, 88, 247);
}
@media (max-width:1000px){
    .main{
        flex-direction: column;
    }

}
@media (max-width:1000px){
    .parent{
        flex-direction: column;
    }

}